*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	color: hsl(0 0% 15%);
	background-color: hsl(0 0% 95%);
}
